/* FONTS */

/* Montserrat */
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.eot'); // IE9 Compat Modes
	src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), // IE6-IE8
		 url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'), // Super Modern Browsers
		 url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'), // Pretty Modern Browsers
		 url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'); // Safari, Android, iOS
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Light.eot'); // IE9 Compat Modes
	src: url('../fonts/Montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'), // IE6-IE8
	url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'), // Super Modern Browsers
	url('../fonts/Montserrat/Montserrat-Light.woff') format('woff'), // Pretty Modern Browsers
	url('../fonts/Montserrat/Montserrat-Light.ttf') format('truetype'); // Safari, Android, iOS
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-SemiBold.eot'); // IE9 Compat Modes
	src: url('../fonts/Montserrat/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
	url('../fonts/Montserrat/Montserrat-SemiBold.woff2') format('woff2'), // Super Modern Browsers
	url('../fonts/Montserrat/Montserrat-SemiBold.woff') format('woff'), // Pretty Modern Browsers
	url('../fonts/Montserrat/Montserrat-SemiBold.ttf') format('truetype'); // Safari, Android, iOS
	font-weight: 600;
	font-style: normal;
}



/* Raleway */
@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway/Raleway-Light.eot'); // IE9 Compat Modes
	src: url('../fonts/Raleway/Raleway-Light.eot?#iefix') format('embedded-opentype'), // IE6-IE8
	url('../fonts/Raleway/Raleway-Light.woff2') format('woff2'), // Super Modern Browsers
	url('../fonts/Raleway/Raleway-Light.woff') format('woff'), // Pretty Modern Browsers
	url('../fonts/Raleway/Raleway-Light.ttf') format('truetype'); // Safari, Android, iOS
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway/Raleway-Medium.eot'); // IE9 Compat Modes
	src: url('../fonts/Raleway/Raleway-Medium.eot?#iefix') format('embedded-opentype'), // IE6-IE8
	url('../fonts/Raleway/Raleway-Medium.woff2') format('woff2'), // Super Modern Browsers
	url('../fonts/Raleway/Raleway-Medium.woff') format('woff'), // Pretty Modern Browsers
	url('../fonts/Raleway/Raleway-Medium.ttf') format('truetype'); // Safari, Android, iOS
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway/Raleway-SemiBold.eot'); // IE9 Compat Modes
	src: url('../fonts/Raleway/Raleway-SemiBold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
	url('../fonts/Raleway/Raleway-SemiBold.woff2') format('woff2'), // Super Modern Browsers
	url('../fonts/Raleway/Raleway-SemiBold.woff') format('woff'), // Pretty Modern Browsers
	url('../fonts/Raleway/Raleway-SemiBold.ttf') format('truetype'); // Safari, Android, iOS
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway/Raleway-Bold.eot'); // IE9 Compat Modes
	src: url('../fonts/Raleway/Raleway-Bold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
	url('../fonts/Raleway/Raleway-Bold.woff2') format('woff2'), // Super Modern Browsers
	url('../fonts/Raleway/Raleway-Bold.woff') format('woff'), // Pretty Modern Browsers
	url('../fonts/Raleway/Raleway-Bold.ttf') format('truetype'); // Safari, Android, iOS
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway/Raleway-ExtraBold.eot'); // IE9 Compat Modes
	src: url('../fonts/Raleway/Raleway-ExtraBold.eot?#iefix') format('embedded-opentype'), // IE6-IE8
	url('../fonts/Raleway/Raleway-ExtraBold.woff2') format('woff2'), // Super Modern Browsers
	url('../fonts/Raleway/Raleway-ExtraBold.woff') format('woff'), // Pretty Modern Browsers
	url('../fonts/Raleway/Raleway-ExtraBold.ttf') format('truetype'); // Safari, Android, iOS
	font-weight: 800;
	font-style: normal;
}