/* SLOGAN */

.slogan {
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	
	@include mq-down(sm) {
		font-size: rem(28);
		line-height: rem(55);
	}
	@include mq-up(md) {
		font-size: rem(48);
		line-height: rem(75);
	}
	
	
	&__bold {
		font-weight: 800;
	}
}